{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my personal website! My name is Bhoj Narayan Nayak, and I’m a passionate Python developer with a
          deep interest in coding, problem-solving, and continuous learning. Over the years, I’ve honed my skills in
          Python and various other technologies, building everything from small scripts to complex applications. This
          website serves as a platform to showcase my work, share my thoughts, and connect with like-minded individuals.
        </p>
        <p>
          I created this website to challenge and enhance my web development skills. Here, you'll find various posts
          that I've written on topics ranging from programming to personal insights. Feel free to explore, read, and
          engage with the content. However, to comment on any of the posts, you'll need to register on the site. If
          you wish to reach out to me directly, you can do so via the Contact Me page. Additionally, you’ll find links
          to my social media profiles on Twitter, Facebook, and GitHub below, where I share more of my work and thoughts.
        </p>
        <p>
          Please note that while anyone can browse and comment on the posts, the ability to create or edit posts is
          reserved solely for me. This ensures that the content remains authentic and aligned with my vision. Thank you
          for visiting, and I hope you find value in the content I share here.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
